.chart {
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
    height: 100%;
}
.chart__title {
    margin-bottom: 20px;
}
  
.chart__grid {
    stroke: rgb(228, 225, 225);
}
  
.custom-tooltip{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    color: #5952e0;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
   
}