.post-list{
    margin-top: 20px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:17px;
    flex-wrap: wrap;
}
.post-detail-container{
    max-width: 360px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-detail-container img{
    width: 360px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.post-detail-body{
    padding:17px 24px
}
.post-detail-title{
    font-weight: 500;
    font-size: 1.2rem;
}
.post-detail-info{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:.5rem;
}
.post-detail-info h4{
    margin-bottom:0 !important;
    font-size: .857rem;
}
.post-detail-info span{
    font-size: .857rem;
    color: #b9b9c3!important;
}

.post-detail-body p{
    margin-top: 20px;
}

.post-detail-footer{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.post-detail-footer div{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size: 17px;
    font-weight: 500!important;
    color: #6e6b7b;
    gap:.25rem;
}
.post-detail-footer h5{
    margin-bottom:0 !important;
    color: #6e6b7b;
}